# Mac Folder view configuration files
.DS_Store
Desktop.ini

# Mac Thumbnail cache files
._*
Thumbs.db

#Jetbrains project/meta files
**/.idea/*

#Ignoring node_modules
/node_modules

#Your server start script
start.sh

